<div>
	<h2>Hello world</h2>
</div>
<form action="/upload/media" method="post" enctype="multipart/form-data">
	<input type="file" name="uploadfile1">
	<input type="file" name="uploadfile2">
	<input type="file" name="uploadfile3">
	<input type="file" name="uploadfile4">
	<input type="file" name="uploadfile5">
	<input type="submit" value="Upload">
</form>